{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "tabWidth": 2,
    "overrides": [
        {
            "files": [
                "**/*.ts",
                "**/*.js"
            ],
            "options": {
                "tabWidth": 2,
                "arrowParens": "always",
                "printWidth": 80,
                "singleQuote": true
            }
        },
        {
            "files": "*.html",
            "options": {
                "jsxBracketSameLine": false
            }
        },
        {
            "files": "*.json",
            "options": {
                "singleQuote": false
            }
        }
    ]
}